:root {
  --clr-dark: #0b0d17;
  --clr-mid: #d0d6f9;
  --clr-light: #ffffff;
  --ff-main: 'Barlow', sans-serif;
  --ff-second: 'Barlow Condensed', sans-serif;
  --ff-third: 'Bellefair', sans-serif;
}

body {
  font-family: var(--ff-main);
  background-color: var(--clr-dark);
  color: #ccc;
  margin: 0;
  min-height: 100vh;
}
.app {
  position: relative;
  display: grid;
  gap: 25px;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  min-height: 100dvh;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
.bg-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    height: 100%;
    width: 100%;
    aspect-ratio: 2/1;
    vertical-align: middle; // fix extra space on image
  }
}
.container {
  padding-inline: 20px;
  max-width: 1100px;
  width: 100%;
  margin: auto;
  @media (max-width: 772px) {
    max-width: 720px;
  }
  @media (max-width: 411px) {
    max-width: 375px;
  }
}

@for $i from 1 through 6 {
  .heading-#{$i} {
    font-family: var(--ff-third);
    font-weight: 400;
    text-transform: uppercase;
  }
}

.heading {
  &-1 {
    font-size: 9.375rem;
  }
  &-2 {
    font-size: 6.25rem;
  }
  &-3 {
    font-size: 3.5rem;
  }
  &-4 {
    font-size: 2rem;
  }
  &-5 {
    font-size: 1.75rem;
    letter-spacing: 0.17em;
    font-family: var(--ff-second);
  }
}
.sub-h {
  &-1,
  &-2 {
    text-transform: uppercase;
  }
  &-1 {
    font-size: 1.75rem;
    font-family: var(--ff-third);
  }
  &-2 {
    font-size: 0.875rem;
    font-family: var(--ff-second);
    letter-spacing: 0.193em;
  }
}
.body-text {
  font-size: 1.125rem;
}
@media (max-width: 772px) {
  .heading {
    &-1 {
      font-size: 7.5rem;
    }
    &-2 {
      font-size: 5rem;
    }
    &-3 {
      font-size: 2.5rem;
    }
    &-5 {
      font-size: 1.25rem;
    }
  }
  .body-text {
    font-size: 1rem;
  }
}
@media (max-width: 411px) {
  .heading-1 {
    font-size: 5rem;
  }
  .heading-2 {
    font-size: 3.5rem;
  }
  .heading-3 {
    font-size: 1.5rem;
  }
  .heading-4 {
    font-size: 1.25rem;
  }
  .heading-5 {
    font-size: 1rem;
  }
  .body-text {
    font-size: 0.935rem;
  }
}
