:root {
  --clr-dark: #0b0d17;
  --clr-mid: #d0d6f9;
  --clr-light: #ffffff;
  --clr-gray : #979797;
  --clr-dark-gray : #383B4B;
  --ff-main: 'Barlow', sans-serif;
  --ff-second: 'Barlow Condensed', sans-serif;
  --ff-third: 'Bellefair', sans-serif;
}
body {
  font-family: var(--ff-main);
  background-color: var(--clr-dark);
  color: var(--clr-light);
  margin: 0;
  counter-reset: some-count;
  font-size: 1.125rem;
}
.app {
  position: relative;
  display: grid;
  gap: 25px;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  min-height: 100dvh;
}
