.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  .content {
    max-width: 450px;
    h1 {
      margin: 0.16em 0;
    }
    .sub-heading,
    .info {
      color: var(--clr-mid);
    }
    h5,
    .info {
      margin: 0;
    }
    .info {
      line-height: 2;
    }
  }
  .explore-btn {
    --btn-width: 274px;
    background-color: #0000;
    border: none;
    outline: 0px solid rgba(255, 255, 255, 15%);
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      line-height: var(--btn-width);
      background-color: buttonface;
      text-transform: uppercase;
      font-weight: 400;
      width: var(--btn-width);
      font-family: 'Bellefair';
      border-radius: 50%;
      transition: outline 250ms;
      &:hover {
        outline-width: 1.375em;
        border: 1px solid hsla(255, 100%, 80%);
      }
    }
  }
  @media (max-width: 772px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: center;
    .explore-btn {
      --btn-width: 242px;
    }
  }
  @media (max-width: 411px) {
    max-height: 100vh;
    .explore-btn {
      --btn-width: 150px;
    }
  }
}
