@use '../helpers/mixins' as *;
nav {
  display: flex;
  z-index: 100;
  user-select: none;
  align-items: center;
  position: relative;
  padding-left: 25px;
  padding-top: 25px;
  hr {
    flex-grow: 1;
    display: block;
    margin: 0;
    position: relative;
    border-width: 1.5px;
    z-index: 2;
    margin-left: 50px;
    margin-right: -30px;
  }
  .menu-toggler {
    cursor: pointer;
    transition: opacity 200ms;
    &:hover {
      opacity: 0.7;
    }
  }
  .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    list-style-type: none;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 2.7px;
    margin: 0;
    background-color: rgba(255, 255, 255, 4%);
    backdrop-filter: blur(80px);
    font-family: 'Barlow';
    counter-reset: nav-counter;

    li {
      &:nth-child(n + 2) {
        counter-increment: nav-counter;
      }
      a {
        text-transform: uppercase;
        padding: 0.85em 0.6em;
        display: inline-block;
        font-family: var(--ff-second);
        transition: border 250ms;
        @include link-action();

        &:before {
          content: '0' counter(nav-counter);
          margin-right: 10px;
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 772px) {
    padding-top: 0;
    gap: 15px;
    justify-content: space-between;
    hr,
    a::before {
      display: none;
    }
    .nav-links {
      padding-inline: 25px;
      font-size: 0.9rem;
      li a {
        padding-block: 25px;
      }
    }
  }
  @media (max-width: 411px) {
    padding: 15px;
    .nav-links {
      order: +1;
      position: absolute;
      padding: 0;
      width: 100%;
      left: 0;
      top: calc(100% + 5px);
      flex-direction: column;
      background: none;
      pointer-events: visible;
      visibility: hidden;
      backdrop-filter: blur(0);
      &.active {
        visibility: visible;
        li {
          scale: 1;
        }
      }
      li {
        transition-duration: 300ms;
        width: 100%;
        transform-origin: right;
        background-color: var(--clr-dark);
        scale: 0 1;
        a {
          padding-inline: 0;
          transition-duration: 150ms;
          width: 100%;
          filter: blur(0.6px);
          padding-right: 10px;
          padding-left: 15px;
          &.active,
          &:hover {
            filter: blur(0);
          }
        }
      }
    }
  }
}
