nav {
  display: flex;
  z-index: 100;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 25px;
  padding-inline: 25px;
  hr {
    flex-grow: 1;
    display: block;
    margin: 0;
    position: relative;
    border-width: 1.5px;
    z-index: 2;
    margin-left: 50px;
    margin-right: -30px;
  }
  .nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 2.7px;
    margin: 0;
    background-color: rgba(255, 255, 255, 4%);
    backdrop-filter: blur(80px);
    font-family: 'Barlow';
    padding-inline: 50px;
    counter-reset: nav-counter;

    li {
      &:nth-child(n + 2) {
        counter-increment: nav-counter;
      }
      a {
        text-transform: uppercase;
        padding: 0.85em 0.6em;
        display: inline-block;
        font-family: var(--ff-second);
        border-bottom: 3px solid #0000;
        transition: border 250ms;
        &:hover {
          border-color: rgba(255, 255, 255, 0.5);
        }
        &.active {
          border-color: var(--clr-light);
        }
        &:before {
          content: '0' counter(nav-counter);
          margin-right: 3px;
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 772px) {
    margin: 0;
    gap: 15px;
    justify-content: space-between;
    hr,
    a::before {
      display: none;
    }
    .nav-links {
      padding-inline: 25px;
      font-size: 0.9rem;
      li a {
        padding-block: 25px;
      }
    }
  }
  @media (max-width: 411px) {
    .nav-links {
      order: +1;
      position: absolute;
      width: 100%;
      right: 0;
      top: calc(100% + 10px);
      flex-direction: column;
      padding-inline: 0;
      backdrop-filter: blur(0px);
      background: none;
      pointer-events: visible;
      visibility: hidden;
      &.active {
        li {
          visibility: visible;
          transform: scale(1);
        }
      }
      li {
        transition-duration: 300ms;
        width: 100%;
        background-color: rgba(22, 22, 22, 90%);
        transform: scale(0);
        transform-origin: right;
        a {
          padding-inline: 0;
          width: 100%;
          padding-right: 10px;
          padding-left: 15px;
        }
      }
    }
  }
}
